
/*
 Text Align Utilities
*/

.u-textAlign--center { text-align: center; }
.u-textAlign--left { text-align: left; }
.u-textAlign--right { text-align: right; }

/*
  Bg Color
*/

.u-bgColor--primary { background-color: @primary; }
.u-bgColor--secondary { background-color: @secondary; }
.u-bgColor--tertiary { background-color: @tertiary; }
.u-bgColor--white { background-color: white; }
.u-bgColor--light { background-color: @lightGrey; }
.u-bgColor--dark {background-color: @darkGrey; }

/*
  Color
*/

.u-color--primary { color: @primary; }
.u-color--secondary { color: @secondary; }
.u-color--tertiary { color: @tertiary; }
.u-color--white { color: white; }
.u-color--light { color: @lightGrey; }
.u-color--dark { color: @darkGrey; }

/*
  Clearfix
*/

.u-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*
  Position
*/

.u-positionRelative {
  position: relative;
}
