/* Breakpoints */
/* Font Sizes */
/* Colors */
/*
 Text Align Utilities
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600italic|Inconsolata:700);
.u-textAlign--center {
  text-align: center;
}
.u-textAlign--left {
  text-align: left;
}
.u-textAlign--right {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .u-md-textAlign--left {
    text-align: left;
  }
}
/*
  Bg Color
*/
.u-bgColor--primary {
  background-color: #2ad4ff;
}
.u-bgColor--secondary {
  background-color: #908dee;
}
.u-bgColor--tertiary {
  background-color: #eb4ddf;
}
.u-bgColor--white {
  background-color: white;
}
.u-bgColor--light {
  background-color: #ededed;
}
.u-bgColor--dark {
  background-color: #444444;
}
/*
  Color
*/
.u-color--primary {
  color: #2ad4ff;
}
.u-color--secondary {
  color: #908dee;
}
.u-color--tertiary {
  color: #eb4ddf;
}
.u-color--white {
  color: white;
}
.u-color--light {
  color: #ededed;
}
.u-color--dark {
  color: #444444;
}
/*
  Clearfix
*/
.u-clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*
  Position
*/
.u-positionRelative {
  position: relative;
}
/*
  Hexagons
*/
.u-hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #ffffff;
  margin: 86.60px 0;
}
.u-hexagon:before,
.u-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
.u-hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #ffffff;
}
.u-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #ffffff;
}
* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
.m-fontBold {
  font-weight: 700;
}
p,
span,
.m-fontNormal {
  font-weight: 400;
}
i,
em,
.m-fontItalic {
  font-style: italic;
  font-weight: 700;
}
code,
pre,
.m-fontFixedWidth {
  font-family: 'Inconsolata' monospace;
  font-weight: 700;
}
a {
  color: #2ad4ff;
  text-decoration: none;
}
li {
  line-height: 2em;
}
/* Typography Classes */
.t-header {
  font-weight: 700;
  font-size: 36px;
}
.t-subHeader {
  font-weight: 400;
  font-size: 18px;
}
.t-calloutText {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
}
.t-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  margin-top: 0;
}
.t-paragraph {
  font-weight: 400;
  font-size: 18px;
}
.t-code {
  font-family: 'Inconsolata' monospace;
  font-weight: 700;
  font-size: 24px;
}
.t-btnText {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .t-header {
    font-size: 54px;
  }
}
.pure-button {
  width: 100%;
  border-radius: 100px;
  padding: 1em 1.5em;
  transition: all 0.3s;
}
.pure-button:active,
.pure-button:hover,
.pure-button:focus {
  box-shadow: none;
  background-image: none;
}
.pure-button:hover {
  transform: scale(1.1);
}
.btn--ghost {
  color: white;
  border: 2px solid white;
  background-color: transparent;
}
.btn--ghost:hover,
.btn--ghost:focus {
  color: white;
}
.btn--primary {
  border: 2px solid #2ad4ff;
  background-color: #2ad4ff;
  color: #444444;
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: #90e9ff;
}
.btn--secondary {
  border: 2px solid #908dee;
  background-color: #908dee;
  color: white;
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: #a6a3f1;
}
.btn--tertiary {
  border: 2px solid #eb4ddf;
  background-color: #eb4ddf;
  color: white;
}
.btn--tertiary:hover,
.btn--tertiary:focus {
  background-color: #f07be7;
}
@media screen and (min-width: 568px) {
  .pure-button {
    width: auto;
  }
}
.l-1 {
  z-index: 1;
}
.l-2 {
  z-index: 10;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.icon {
  display: inline-block;
  background-image: url('../images/icons-sprite.svg');
}
.icon-hexagon--large {
  background-position: -282px -34px;
  width: 100px;
  height: 116px;
}
.icon-hexagon--large .icon {
  margin-top: 30px;
}
.icon-code {
  background-position: -3px -12px;
  width: 70px;
  height: 50px;
}
.icon-location {
  background-position: -23px -88px;
  width: 32.25px;
  height: 50px;
}
.icon-group {
  background-position: -15.5px -165.5px;
  width: 43.75px;
  height: 50px;
}
.icon-chevron--right {
  background-position: -87px -7.6px;
  width: 11px;
  height: 15.6px;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  height: 100%;
  background: #ededed;
}
img {
  max-width: 100%;
}
[class^="pure-u"] {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.la-logo {
  position: relative;
  width: 250px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .la-logo {
    max-width: 100%;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    padding: 20px;
  }
}
